html {
  --violet-clr: hsl(257, 40%, 49%);
  --soft-magenta-clr: hsl(300, 69%, 71%);
}

body {
  font-family: "Open Sans", sans-serif;

  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 100vh;

  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  margin-bottom: 3em;
}

.logo {
  height: 33px;
}

.container {
  max-width: 350px;
  margin: 2em auto;
  width: 85%;
}

.component {
  background: var(--violet-clr);
  background-image: url("../images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.component__title {
  font-family: "Poppins", sans-serif;
}

.component__body {
  margin-bottom: 1.5em;
}

.component__info {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 0.5em 4em;
  background: white;
  color: var(--violet-clr);
  border-radius: 20px;
  margin-bottom: 3em;

  transition: 0.25s;
}

.btn:hover,
.btn:focus {
  background: var(--soft-magenta-clr);
  color: white;
  border-color: var(--soft-magenta-clr);
  cursor: pointer;
}

.footer {
  text-align: center;
}

i {
  border: 1px white solid;
  border-radius: 50%;
  padding: 0.4em;
  transition: 0.25s;
}

i:hover,
i:focus {
  color: var(--soft-magenta-clr);
  border-color: var(--soft-magenta-clr);
  cursor: pointer;
}

.fa-facebook-f {
  padding: 0.4em 0.55em;
}

i + i {
  margin-left: 0.75em;
}

@media (min-width: 800px) {
  .container {
    max-width: 1200px;
    margin: 2em auto;
    width: 90%;

    display: grid;
    grid-template: auto auto auto / 1.4fr 1fr;
    grid-gap: 0 2em;
    grid-template-areas:
      "logo logo"
      "app info"
      "... footer";
  }

  .component {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .component__info {
    text-align: start;
  }

  .logo {
    grid-area: logo;
  }

  .app-img {
    grid-area: app;
    margin-bottom: 0;
  }
  .component__info {
    margin-top: 1em;
    padding-bottom: 0;
    grid-area: info;
  }

  .footer {
    margin-top: 0;
    grid-area: footer;
    justify-self: end;
  }
}
